<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attendancesystemapp">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/approve"
        android:label="Attendance App"
        android:roundIcon="@drawable/approve"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendanceApp">
        <activity android:name="com.example.attendancesystemapp.SheetActivity"></activity>
        <activity android:name="com.example.attendancesystemapp.SheetListActivity" />
        <activity android:name="com.example.attendancesystemapp.StudentActivity" />
        <activity android:name="com.example.attendancesystemapp.HomeActivity" />
        <activity android:name="com.example.attendancesystemapp.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.attendancesystemapp.MainActivity" />
    </application>
    

</manifest>